@import "standard.scss";

.NewMapping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & > div {
    margin-bottom: 10px;
  }

  p {
    color: $text-dark;
    margin: 0 0 5px 0;
    font-size: 14px;
  }

  .NewMapping__button {
    align-self: flex-end;
  }
}
