@import "standard.scss";

.LedgerMonthGroup {
  display: flex;
  flex-direction: column;
}

.LedgerMonthGroup__row {
  flex: 1;
  display: flex;
  border: 2px solid black;
}

.LedgerMonthGroup__month {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.LedgerMonthGroup__types {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.LedgerMonthGroup__type {
  flex: 1;
  border: 1px solid black;
}
