/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
body {
  margin: 0;
  padding: 0;
  font-family: Muli, sans-serif;
  background: #e0f7fa;
}

input {
  font-family: Muli, sans-serif;
}

button {
  font-family: Muli, sans-serif;
}

textarea {
  font-family: Muli, sans-serif;
}

p {
  font-family: Muli, sans-serif;
}

div {
  font-family: Muli, sans-serif;
}

span {
  font-family: Muli, sans-serif;
}

@font-face {
  font-family: Muli;
  src: url(./common/assets/fonts/Muli/Muli-Regular.ttf);
}

@font-face {
  font-family: Muli;
  src: url(./common/assets/fonts/Muli/Muli-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Muli;
  src: url(./common/assets/fonts/Muli/Muli-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Muli;
  src: url(./common/assets/fonts/Muli/Muli-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Muli;
  src: url(./common/assets/fonts/Muli/Muli-ExtraLight.ttf);
  font-weight: 300;
}

.App {
  position: relative;
}

.App__body {
  padding: 80px 40px 30px 40px;
}
