@import "standard.scss";

.Card {
  @include shadowLarge($color-100);
  @include standardTransition;
  background: #ffffff;
  border-radius: $borderRadiusLarge;
  margin: 0 0 40px 0;
}

.Card--hoverable:hover {
  @include shadowMed($color-100);
}

.Card__title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  background: $color-500;
  border-radius: $borderRadiusLarge $borderRadiusLarge 0 0;
  padding: 10px;
  box-sizing: border-box;
  color: $text-light;
  text-align: center;
  letter-spacing: 0.5px;
}

.Card__body {
  padding: 20px;
}
